@import "./responcive";
@import "./vatiables";


.about {
  display: flex;
  justify-content: center;
  font-family: $fontFemily;

  .aboutContainer {
    max-width: 1110px;
    width: 100%;
    border-bottom: solid 1px #AFAFC3;

    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 130%;
      text-transform: capitalize;
      color: #202121;
      padding-bottom: 40px;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: rgba(32, 33, 33, 0.75);
      padding-bottom: 50px;
    }

    .tasks {
      .cont {
        display: flex;
        margin-bottom: 50px;
        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 24px;
          line-height: 130%;
          text-align: right;
          text-transform: capitalize;
          color: #202121;
          max-width: 200px;
          width: 100%;
        }

        p {
          all: unset;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 160%;
          letter-spacing: 0.02em;
          text-transform: capitalize;
          color: rgba(32, 33, 33, 0.75);
          padding-top: 32px;
        }
      }
    }

    .values {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .valuesContainer {
        max-width: 920px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .card {
          width: 50%;
          .iterator {
            display: none;
          }

          h2 {
            font-style: normal;
            font-weight: 800;
            font-size: 21px;
            line-height: 130%;
            text-transform: capitalize;
            color: #AFAFC3;
            padding-bottom: 5px;
          }

          h3 {
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 160%;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: #202121;
            padding-bottom: 5px;
          }

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 160%;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: rgba(32, 33, 33, 0.75);
          }
        }
      }
    }
  }
}
