@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');



@import "reset";
@import "home.scss";
@import "common/header";
@import "projects";
@import "projectsWrapper";
@import "responcive";
@import "vatiables";
@import "contacUs";
@import "news";
@import "about";
@import "project-detaild";
@import "assets/css/tini";
@import "scss/stafSlider";
@import "common/filters";

html, body {
  font-size: $defoultFont;
}

.openFilter {
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(32, 33, 33, 0.8);
    z-index: 3;
  }
}

.fix{
  overflow: hidden;
}

.hide {
  display: none !important;
}

.bgc {

}

