@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@font-face {
  font-family: 'BPG-NP';
  src: url('../assets/fonts/bgp/BPGNP.eot');
  src: url('../assets/fonts/bgp/BPGNP.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/bgp/BPGNP.woff2') format('woff2'),
  url('../assets/fonts/bgp/BPGNP.woff') format('woff'),
  url('../assets/fonts/bgp/BPGNP.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BPG-Caps';
  src: url('../assets/fonts/bgp/BPGWEB001Caps.eot');
  src: url('../assets/fonts/bgp/BPGWEB001Caps.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/bgp/BPGWEB001Caps.woff2') format('woff2'),
  url('../assets/fonts/bgp/BPGWEB001Caps.woff') format('woff'),
  url('../assets/fonts/bgp/BPGWEB001Caps.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@import "reset";
@import "home.scss";
@import "common/header";
@import "projects";
@import "projectsWrapper";
@import "responcive";
@import "vatiables";
@import "contacUs";
@import "news";
@import "about";
@import "project-detaild";
@import "assets/css/tini";
@import "scss/stafSlider";
@import "common/filters";
@import "related-projects";
@import "project-detailed-gallery";


html, body {
  font-size: $defoultFont;
}

.openFilter {
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(32, 33, 33, 0.8);
    z-index: 3;
  }
}

.loader {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #202121;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;

  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.loader-done {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.fix {
  overflow: hidden;
}

.hide {
  display: none !important;
}

.bgc {

}

