@import "./responcive";
@import "./vatiables";

.news {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  min-height: calc(100vh - 427px);

  .newsContainser {
    max-width: 1110px;
    width: 100%;
    display: block;
    height: 100%;
    padding-top: 55px;
    margin-bottom: 100px;

    @include phone-sm {
      margin-bottom: 70px;
    }

    .subNews {

      .iterator {
        display: none;
      }

      a {
        .date {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          @include phone-sm {
            margin-left: 15px;
          }

          .line {
            width: 65px;
            height: 1px;
            background-color: #D0D3D4;
            margin-right: 30px;
          }

          .dateText {
            font-family: $fontFamily;
            font-style: normal;
            font-weight: normal;
            font-size: 16rem;
            line-height: 160%;
            letter-spacing: 0.02em;
            text-transform: capitalize;
            color: rgba(32, 33, 33, 0.75);
          }
        }

        .postContainer {
          display: flex;
          padding-bottom: 30px;
          margin-bottom: 30px;
          border-bottom: 1px solid #AFAFC3;

          @include phone-sm {
            flex-direction: column;
          }

          .img {
            width: 255px;
            height: 190px;

            @include phone-sm {
              width: 100%;
              height: auto;
              display: flex;
              justify-content: center;
              padding: 0 15px;
              margin-bottom: 20px;
            }


            img {
              @include phone-sm {
                width: 100%;
                height: auto;
              }
            }
          }

          .description {
            margin-left: 30px;

            @include phone-sm {
              margin: 0 0;
              padding: 0 15px;
            }

            h2 {
              font-family: $fontFamily;
              font-style: normal;
              font-weight: bold;
              font-size: 24rem;
              line-height: 130%;
              text-transform: capitalize;
              color: #202121;
            }

            .fullHeight{
              height: 100%;
            }

            .newsDescription {
              position: relative;
              font-family: $fontFamily;
              font-style: normal;
              font-weight: normal;
              font-size: 16rem;
              line-height: 160%;
              letter-spacing: 0.02em;
              text-transform: capitalize;
              color: rgba(32, 33, 33, 0.75);
              margin-top: 30px;
              max-height: 500px;
              transition: all 300ms ease;

              .readMore {
                font-weight: bold;
                color: #AFAFC3;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
