@import "./responcive";
@import "./vatiables";

.stafHeader {
  display: flex;
  justify-content: center;
  margin-top: 100px;

  h2 {
    max-width: 1110px;
    width: 100%;
    font-family: $fontFemily;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 130%;
    text-transform: capitalize;
    font-feature-settings: 'liga' off;
    color: #202121;
  }
}

.staffSlider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1110px;
  margin: 0 auto;

  .sliderContainer {
    .image {
      img {
        max-width: 130px;
      }

    }

    .possition {
      margin-bottom: 10px;

    }
  }
}
