@import "./responcive";
@import "./vatiables";

.staf {
  display: flex;
  justify-content: center;

  @include phone-sm {
    display: none;
  }

  .slidercontainer {
    max-width: 1120px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 2px;


    .sliderContainer {
      margin: 0 auto;

      .image {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;

        img {
          max-width: 350px;
          width: 100%;
          height: auto;
        }
      }

      .name {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
      }

      .possition {
        max-width: 350px;
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

.controls {
  margin: 73px 0 103px;
  display: flex;
  justify-content: center;
  width: 100%;

  @include phone-sm {
    display: none;
  }

  .arrows {
    display: flex;
    justify-content: space-between;
    width: 100px;

    .prev {
      cursor: pointer;
    }

    .next {
      cursor: pointer;
    }
  }
}

.tns-item {
  width: 100%;
  margin: 2px !important;
  padding-right: 2px;
}


.darck {
  svg {
    path {
      fill: #202121;
    }

    rect {
      fill: #202121;
    }
  }
}

.gray {
  svg {
    path {
      fill: #C3C3D2;
    }

    rect {
      fill: #C3C3D2;
    }

  }
}

.forMobile {
  .stafSlider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 20px;

    .sliderContainer {
      .image {
        img {
          max-width: 130px;
        }

      }

      .possition {
        margin-bottom: 10px;

      }
    }
  }
}
