$defoultFont: 16px;

$smallFont: 0.5rem;
$normalFont: 1rem;
$bigFint: 2rem;

$maincColor: white;
$maincDarckColor: #202121;
$lightDarck: rgba(4, 28, 44, 0.08);
$lightWhite: #EBEEEE;
$langWhiteColor: rgba(32, 33, 33, 0.7);

$fontFemily: 'Open Sans', sans-serif;
