
$smallFont: 0.5rem;
$normalFont: 1rem;
$bigFint: 2rem;

$maincColor: white;
$maincDarckColor: #202121;
$lightDarck: rgba(4, 28, 44, 0.08);
$lightWhite: #EBEEEE;
$langWhiteColor: rgba(32, 33, 33, 0.7);
$footerText: rgba(255, 255, 255, 0.5);

$fontFamily-Default: 'Open Sans';
$fontFamily-BPG-Caps: 'BPG-Caps';
$fontFamily-BPG-NP: 'BPG-NP';

$font-weight-bod: bold;
$font-weight-classic: 500;


// eng version
$defoultFont: 1px;
$fontFamily-header: $fontFamily-Default;
$fontFamily-paragraphs: $fontFamily-Default;
$fontFamily-cross: $fontFamily-BPG-Caps;
$fontFamily: $fontFamily-Default;
$font-weight: $font-weight-bod;

// ka version
//$defoultFont: 0.89px;
//$fontFamily-header: $fontFamily-BPG-Caps;
//$fontFamily-paragraphs: $fontFamily-BPG-NP;
//$fontFamily-cross: $fontFamily-Default;
//$fontFamily: $fontFamily-BPG-Caps;
//$font-weight: $font-weight-classic
