$defoultFont: 16px;

$smallFont: 0.5rem;
$normalFont: 1rem;
$bigFint: 2rem;

$maincColor: white;
$maincDarckColor: #202121;
$lightDarck: rgba(4, 28, 44, 0.08);
$lightWhite: #EBEEEE;
$langWhiteColor: rgba(32, 33, 33, 0.7);
$footerText: rgba(255, 255, 255, 0.5);

$fontFamily-Default: 'Open Sans';
$fontFamily-BPG-NP: 'BPG-NP';
$fontFamily-BPG-Caps: 'BPG-Caps';
$fontFamily: $fontFamily-Default;
