- const list = [{name}]

.filters
    .filter-head(data-type="1") Type of building
        .list-container
            .list
                .some All types
                .some All types
                .some All types
                .some All types
                .some All types
                .some All types
                .some All types
                .some All types
                .some All types
    //.head status
    //    .list-container
    //.head year
    //    .list-container
