- const list = [{name}]
.filters-container
    .filters
        .filter-head(data-type="1") Type of building
            .list-container
                .list
                    .some-container
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
        .filter-head(data-type="2") Status
            .list-container
                .list
                    .some-container
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
        .filter-head(data-type="3") Year
            .list-container
                .list
                    .some-container
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
                        .some All types
    .cover.full
