-let values = [{name: 'Worck', link: 'projects.html'},{name: 'About Us', link: "./about.html"}, {name: 'News', link: "./news.html"}, {name: 'Contact', link: "contact.html"}]
header#header
    //.header-darck add this to darck them
    #headerContainer
        a(href="/")
            .logo
                .logoContainer
        .filter filter
        .container
            ul.manuItems
                    each value in values
                        a(href=`${value.link}`)
                            li= value.name
            .lang
                .language ქართული
        .burgerMenu#menu
            include ../files/burger
    .mobile
        ul
            each value in values
                a(href=`${value.link}`)
                    li= value.name
        .language
            .lang ქართული
                a(href="#")



