-let i = 0;
.projects
    ul
        while i < 10
            a
                li.project
                    .iterator= i++
                    .description
                        p Feb 17, 2019
                        h2 ProjectName pharetra neque
