-let i = 0;
.projects
    ul
        while i < 10
            a(href="project-item.html")
                li.project(style="background-image: url('./assets/home.png')")
                    .iterator= i++
                    .description
                        p Feb 17, 2019
                        h2 ProjectName pharetra neque
