.project-detailed-gallery
    .detailed-gallery
        .controls
            .control(style="background-image: url('./assets/home.png')" data-index="0")
            .control(style="background-image: url('./assets/pic.png')" data-index="1")
            .control(style="background-image: url('./assets/portrait.png')" data-index="2")
        .container.scroll
            .close
                img(src='./assets/close.svg' alt='close')
            .gallery-image-container
                .image
                    .img(style="background-image: url('./assets/home.png')")
                .image
                    .img(style="background-image: url('./assets/pic.png')")
                .image
                    .img(style="background-image: url('./assets/portrait.png')")
            .gallery-image-container-mobile
                .image
                    .img(style="background-image: url('./assets/home.png')")
                .image
                    .img(style="background-image: url('./assets/pic.png')")
                .image
                    .img(style="background-image: url('./assets/portrait.png')")
        //.swipe-bar
        //    .back.controlers(style="background-image: url('./assets/details-slider/chevron-left.svg')")
        //    .slider-counter
        //        .active-index
        //        .div /
        //        .total-count
        //    .front.controlers(style="background-image: url('./assets/details-slider/chevron-right.svg')")

