.project-detailed-gallery
    .detailed-gallery
        .controls
            .control(style="background-image: url('./assets/home.png')")
            .control(style="background-image: url('./assets/home.png')")
            .control(style="background-image: url('./assets/home.png')")
        .container
            .close
                .line.one
                .line.two
            .gallery-image-container
                .image
                    .img(style="background-image: url('./assets/home.png')")
                .image
                    .img(style="background-image: url('./assets/home.png')")
                .image
                    .img(style="background-image: url('./assets/home.png')")
        .swipe-bar
            .back.controlers(style="background-image: url('./assets/details-slider/chevron-left.svg')")
            .slider-counter
                .active-index
                .div /
                .total-count
            .front.controlers(style="background-image: url('./assets/details-slider/chevron-right.svg')")

