
.stafHeader
    h2 Meet Our People
.staf
.forMobile
    .stafSlider
        .sliderContainer
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
        .sliderContainer
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
        .sliderContainer
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
        .sliderContainer
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
