.staf
    .slidercontainer
        .stafSlider
            .sliderContainer
                .image
                    img(src="assets/portrait.png")
                .name Debra Black
                .possition Manager
            .sliderContainer
                .image
                    img(src="assets/portrait.png")
                .name Debra Black
                .possition Manager
            .sliderContainer
                .image
                    img(src="assets/portrait.png")
                .name Debra Black
                .possition Manager
            .sliderContainer
                .image
                    img(src="assets/portrait.png")
                .name Debra Black
                .possition Manager
.controls
    .arrows
        .prev
            include ../files/arrow_left
        .next
            include ../files/arrow_right
