.staf
    .slidercontainer
        .stafSlider
            .container
                .image
                    img(src="assets/portrait.png")
                .name Debra Black
                .possition Manager
            .container
                .image
                    img(src="assets/portrait.png")
                .name Debra Black
                .possition Manager
            .container
                .image
                    img(src="assets/portrait.png")
                .name Debra Black
                .possition Manager
            .container
                .image
                    img(src="assets/portrait.png")
                .name Debra Black
                .possition Manager
.controls
    .prev prev
    .next next
