
.stafHeader
    h2 Meet Our People
.staffSlider
    .sliderContainer
        .persone
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
    .sliderContainer
        .persone
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
    .sliderContainer
        .persone
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
    .sliderContainer
        .persone
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
    .sliderContainer
        .persone
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager
    .sliderContainer
        .persone
            .image
                img(src="assets/portrait.png")
            .name Debra Black
            .possition Manager

