.topFooter
    .wrapper
        .fastLinks
            .col
                include footerBrands
                a(href="index.html").logo
                    img(src="./assets/images/footerLogo.png")
            .col
                include footerCustomServices
            .social
                include footerInstagram
                .follow follow rusi
                    ul.soc
                        li
                            a(href="") Instagram
                        li
                            a(href="") Facebook
                        li
                            a(href="") Twitter
                        li
                            a(href="") LinkedIn
            include footerSubscribe
