doctype
html
    head
        title rusidesigns
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
    body
        include common/header
        block content;

