-let values = [{name: 'Gray', link: 'url(assets/home.png)'},{name: 'red', link: 'url("assets/home.png")'}, {name: 'purple', link: 'url("assets/home.png")'}, {name: 'blue', link: 'url("assets/home.png")'}]
.home
    .my-slider
        each item in values
            .item(style={'background-image': item.link})
                .description= item.name + 'asd'
                .name= item.name

    .slideCOntrolers#sliderItemCOunt
    .description
        .textHeader
        .textOharagraph
