-let values = [{name: 'gray', link: 'url(assets/home.png)'},{name: 'red', link: 'url("assets/home.png")'}, {name: 'purple', link: 'url("assets/home.png")'}, {name: 'blue', link: 'url("assets/home.png")'}]
.home
    .owl-carousel
        each item in values
            .item.sliderItems(style={'background-image': item.link})
                p= item.name
    .slideCOntrolers
    .descripton
