extends includes/mainLayout
block content;
    include includes/common/header
    include includes/about/about
    include includes/common/staf
    include includes/common/footer
    script.
        var page = 'about'
