extends ./includes/mainLayout
block content;
    include includes/common/header
    include includes/common/filters
    include includes/project/project
    include includes/common/footer
    script.
        var page = 'projects'
