extends ./includes/mainLayout
block content;
    include includes/common/project-gallery
    include includes/common/header
    include includes/projectitem/project-detaild.pug
    script.
        var page = 'projects'
