-let i = 0;
.news
    .newsContainser
        //while i < 5
        .subNews
            .iterator= i++
            a
                .date
                    .line
                    .dateText October 29, 2014
                .postContainer
                    .img
                        img(src="assets/Rectangle1.svg")
                    .description(data-link="someting")
                        h2 Principal Tower completion concludes Principal Place masterplan
                        p.newsDescription(data-read="იხილეთ მეტი" data-lnmae="open Link" data-link="https://www.youtube.com/watch?v=8BVPSCOz364" data-text="The completion of Principal Tower is the final piece of the Principal Place masterplan, a comprehensively planned mixed-use scheme on the border of Shoreditch and the City of London that creates a thriving new neighbourhood masterplan, a comprehensively planned mixed-use scheme on the border of Shoreditch and the City of London that creates a thriving new neighbourhoodhe completion of Principal Tower is the final piece of the Principal Place masterplan, a comprehensively planned mixed-use scheme on the border of Shoreditch and the City of London that creates a thriving new neighbourhood masterplan, a comprehensively planned mixed-use scheme on the border of Shoreditch and the City of London that creates a thriving new neighbourhoodhe completion of Principal Tower is the final piece of the Principal Place masterplan, a comprehensively planned mixed-use scheme on the border of Shoreditch and the City of London that creates a thriving new neighbourhood masterplan, a comprehensively planned mixed-use scheme on the border of Shoreditch and the City of London that creates a thriving new neighbourhood")
