svg(width='36', height='8', viewBox='0 0 36 8', fill='none', xmlns='http://www.w3.org/2000/svg')
    path(d='M36 4L30 0V8L36 4Z', fill='#202121')
    rect(width='30', height='2', transform='matrix(-1 0 0 1 30 3)', fill='#202121')
