.main-description
    .text
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur aut est et, illo iste magnam perferendis possimus quibusdam tempora ut! Amet animi dolor, eaque minima natus provident qui similique vel.
    .description
        .section
            h2 Categories
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris netus malesuada non.
        .section
            h2 Categories
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris netus malesuada non.
        .section-container
            .section
                h2 Categories
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris netus malesuada non.
            .section
                h2 Categories
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris netus malesuada non.
        .section
            h2 Categories
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris netus malesuada non.
