.image-and-text-left
    .image(style="background-image: url('./assets/home.png')")
    .text-container
        .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolorem dolores ducimus enim est, in incidunt ipsam, magnam obcaecati perferendis quidem repudiandae totam ut vel veritatis, vitae voluptates voluptatum! Labore?
