.related-projects
    .related-projects-header Related projects
    .list
        a
            .card
                .image(style="background-image: url('./assets/home.png')")
                .title image
        a
            .card
                .image(style="background-image: url('./assets/home.png')")
                .title image
        a
            .card
                .image(style="background-image: url('./assets/home.png')")
                .title image
