.text-half-right
    .text-container
        .text-header Lorem ipsum
        .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusamus amet at aut autem ex excepturi facere, facilis fugiat ipsum mollitia nam officia, quo rerum sint sit veritatis! Doloribus, sed.
