.two-column-text
    .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab neque quibusdam rerum saepe sapiente. Eveniet laborum molestias numquam officia ratione reprehenderit totam voluptas? Amet, delectus eligendi expedita illo impedit numquam.
    .text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquid atque blanditiis consectetur, consequuntur cum cumque deleniti deserunt, doloribus eius est eveniet facere laborum laudantium neque rerum sint totam vitae.
