.project-detaild
    include ./components/big-image
    .brake-small
    include ./components/description
    include ./components/double-big-images
    include ./components/iamge-right
    include ./components/text-half-right
    include ./components/image-and-text-center
    include ./components/two-column-text
    include ./components/image-and-text-right-header
    include ./components/image-and-text-left
    include ./components/related-projects
    include ../common/footer
