.about
    .aboutContainer
        h2.dontFormat about us

        p.main-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolore doloribus esse facilis minus natus perferendis quod tempore temporibus veniam. At delectus doloremque dolorum illo quas quidem, tempora tempore veniam!
        .text-container
            p.paragraph-one Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto delectus eius, enim expedita hic inventore nam temporibus! Autem dolorum error est ex fugiat molestias nisi, nostrum rem, repellendus sunt unde.
            ul
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
            p.paragraph-two
        .end Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur assumenda commodi corporis cum

        //h2 About Us
        //p Founded in 2011 in Lorem ipsum dolor sit amet, consectetur adipiscing elit. Imperdiet arcu sit eget ornare pellentesque mi nunc magna semper. Ac sit libero et quis egestas duis. Hac nisi ut eu euismod. Integer aliquam vitae hendrerit sapien vitae, senectus. Sapien at vulputate ridiculus nascetur. Hendrerit sit at ac, pretium. Elementum nisi purus, rhoncus, vestibulum non, feugiat ut consectetur amet. Massa non diam at id gravida. Ac amet, vitae turpis molestie quam nunc, malesuada. Euismod cursus vitae congue consequat ullamcorper eget duis nibh. Netus vestibulum, purus lorem diam nisl. Quam ultricies non viverra sit aenean urna habitant purus velit. Risus integer leo ullamcorper gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc egestas at rhoncus ultrices. Viverra mi eget gravida vulputate dolor. Sed vitae adipiscing tempor placerat ut leo, lacus. Tempus facilisis posuere netus fusce at amet, enim enim.Etiam pellentesque aliquet ultrices eget vitae. Non laoreet viverra nec eget arcu sed nulla amet, sed. Nunc tortor, sed massa nunc. Dui at est lorem dictum massa justo, consequat. Velit est, nec lacinia in sed rhoncus fringilla proin. Molestie blandit viverra vitae mattis quis velit laoreet consequat, placerat. Arcu commodo eu, molestie lorem egestas purus mollis egestas. Lorem quis massa a in habitasse ullamcorper et turpis non.
        //.tasks
        //    .mission.cont
        //        h2 mission
        //        p Euismod cursus vitae congue consequat ullamcorper eget duis nibh. Netus vestibulum, purus lorem diam nisl. Quam ultricies non viverra sit aenean urna habitant purus velit. Risus integer leo ullamcorper gravida mi
        //    .Vision.cont
        //        h2 Vision
        //        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit hac donec convallis pharetra sem pellentesque at. At posuere malesuada orci cursus fermentum.
        //    .value.cont
        //        h2 Values
        //        p The fundamental values on which we support our management and activity include:
        //.values
        //    .valuesContainer
        //        -let i= 0;
        //                while i < 4
        //                    .card
        //                        .iterator= i++
        //                        h2 INTEGRITY
        //                        h3 Acting honestly.
        //                        p We seek coherence between thought and action. In human relations and business.

