-const info = [{name: 'Phone Number', info: '+995 555 11 22 33'}, {name: 'Email', info: 'tempmail@gmail.com'}, {name: 'Addres', info: 'Tbilisi, Georgia, l. asatiani str. #56'}]
-const icons = [{name: 'facebook', src: 'assets/svg/fb.svg' ,link:'' }, {name: 'instagram', src: 'assets/svg/inst.svg', link: ''}, {name: 'pinteresr', src: 'assets/svg/p.svg', link: ''}]

.contactUs
    .container
        .info
            each subInfo in info
                .name= subInfo.name
                .contant= subInfo.info
            .social
                .address Address
                each icon in icons
                    a(href=`${item}`)
                        img(src=`${icon.src}`)
        .map
            a(href="http://maps.google.com/?q=41.7130184,44.7822898") this is map
