.filters-container {
  position: fixed;
  width: 100%;
  margin-top: 107px;
  z-index: 4;
  background-color: #fff;

  .full {
    width: 100vw;
    height: calc(100vh - 140px);
    background: rgba(32, 33, 33, 0.8);
    //opacity: 0.1;
  }


  .filters {
    margin: 30px auto 30px;
    display: flex;
    justify-content: space-between;
    max-width: 414px;
    background-color: #fff;

    .filter-head {
      //  cursor: pointer;
      //  position: relative;
      cursor: pointer;

      &:hover .list-container {
        display: block;
        background-color: #fff;
      }

      .list-container {
        display: none;
        position: absolute;
        left: 0;
        //background-color: #fff;

        .list {
          padding-top: 40px;
          width: 100vw;
          background-color: #fff;

          .some-container {
            max-width: 840px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .some {
              text-align: center;
              width: 33%;
              margin-bottom: 40px;
            }
          }
        }

        //    width: 100vw;
        //    background-color: #fff;
        //    margin-top: 40px;
        //    left: 0;
        //    z-index: 10;
        //    top: 0;
        //
        //    .list {
        //      .come {
        //
        //      }
        //    }
      }
    }
  }
}
