.filters-container {
  position: fixed;
  width: 100%;
  margin-top: 107px;
  z-index: 4;
  background-color: #fff;

  .full {
    width: 100vw;
    height: calc(100vh - 140px);
    background: rgba(32, 33, 33, 0.8);
    //opacity: 0.1;
  }


  .filters {
    margin: 30px auto 30px;
    display: flex;
    justify-content: space-between;
    max-width: 414px;
    background-color: #fff;

    .filter-head {
      //  cursor: pointer;
      //  position: relative;
      cursor: pointer;

      &:hover .list-container {
        display: block;
        background-color: #fff;
      }

      .list-container {
        display: none;
        position: absolute;
        left: 0;
        //background-color: #fff;

        .list {
          padding-top: 40px;
          width: 100vw;
          background-color: #fff;

          .some-container {
            max-width: 840px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            .some {
              text-align: center;
              width: 33%;
              margin-bottom: 40px;
            }
          }
        }
      }
    }
  }
}

#filters-mobile {
  position: fixed;
  margin-top: 107px;
  display: none;
  z-index: 4;
  background-color: #fff;
  width: 100%;

  .filter-head {
    padding: 25px 0 0 15px;
    border-top: 1px solid rgba(4, 28, 44, 0.08);

    .filter-mobile-header {
      display: inline-block;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        background-image: url("../assets/arrow/triangular.svg");
        background-repeat: no-repeat;
        background-position: center;
        top: 1px;
        right: -22px;
        width: 16px;
        height: 17px;
        transition: all 400ms ease-in;
      }
    }

    .animation {
      &:after {
        transform: rotate(180deg);
      }
    }

    .some-container {
      margin: 5px 0 25px;
      height: 0;
      overflow: hidden;
      transition: all 500ms ease-in;

      .some {
        padding: 15px 0;
        border-top: 1px solid rgba(4, 28, 44, 0.08);
      }
    }
  }
}
