@import "../responcive";
@import "../vatiables";

#headerContainer{
  z-index: 10;
}
header#header{
  position: relative;
  z-index: 4;
}
.header {
  display: flex;
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  font-size: $bigFint;
  padding: 20px 50px 15px;
  top: 0;
  z-index: 10;

  @include phone-sm {
    padding: 20px 15px 15px;
  }
  .logo {

    .logoContainer {
      width: 84px;
      height: 71px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include phone-sm {
        width: 43px;
        height: 36px;
      }
    }

    .logo-darck {
      background-image: url("../assets/logo/logo-darck.svg");
    }

    .logo-white {
      background-image: url("../assets/logo/logo.white.svg");
    }

    .menu-open {
      background-image: url("../assets/logo/logo-menu.svg");
    }
  }

  .filter {
    position: absolute;
    top: 40%;
    left: 50%;
    font-family: $fontFamily;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: none;
  }


  .burgerMenu {
    display: none;
    cursor: pointer;

    .burger {
      width: 20px;
      height: 17px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }


    .burgerActive{}
    .burgerActive-white {
      background-image: url("../assets/logo/menu-white.svg");
    }

    .burgerActive-darck {
      background-image: url("../assets/logo/menu-darck.svg");
    }

    .closeActive {
      background-image: url("../assets/logo/close.svg");
    }
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top: 0;
    }
  }

  .container {
    display: flex;
    position: relative;

    @include tablet {
      display: none;
    }

    .manuItems {
      display: flex;
      margin-right: 30px;

      a {
        font-family: $fontFamily;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        margin-right: 29px;
        color: $maincColor;
        cursor: pointer;
        display: flex;
        align-items: center;

        text-transform: capitalize;

        &:last-child {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            height: 13px;
            background-color: $maincColor;
            width: 1px;
            top: 7px;
            right: -30px;
            transform: translateY(50%);
          }
        }
      }
    }

    .lang {
      height: 38px;
      background: rgba(32, 33, 33, 0.4);
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-family: BPG Nino Mkhedruli;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 100%;

      color: $maincColor;

      .language {
        margin: 0 10px;
        font-family: $fontFamily-cross;
      }
    }
  }
}

.mobile {
  display: none;
}


.mobile_active {
  .header {
    padding-bottom: 9px;
    borer: rgba(255, 255, 255, 0.2);
    border-bottom: 1px rgba(255, 255, 255, 0.2) solid;
  }

  .mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #252525;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $maincColor;
    text-align: center;

    ul {
      a {
        li {
          color: rgba(255, 255, 255, 0.8);
          margin-top: 40px;
          font-family: $fontFamily;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 100%;

        }
      }
    }

    .language {
      height: 34px;
      left: 115px;
      top: 446px;
      font-size: 14px;
      font-weight: 300;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 70px;

      .lang {
        transform: translateY(1px);
        color:  rgba(255, 255, 255, 0.7);
        margin: 0 10px;
        font-family: $fontFamily-cross;
      }
    }
  }
}

.header-darck {
  border-bottom: 1px solid $lightDarck;

  .container {

    .manuItems {
      .activeMenuItem {
        color: rgb(32, 33, 33);
        opacity: 1;
      }

      a {
        color: #202121;
        opacity: 0.5;

        &:last-child {
          position: relative;

          &:after {
            background-color: $maincDarckColor;
          }
        }

      }
    }

    .lang {
      color: $maincDarckColor;
    }
  }

  .filter {
    color: $maincDarckColor;
    display: block;
  }

  .burgerMenu {
    svg {
      path {
        fill: $maincDarckColor;
      }
    }
  }

}

.white {
  background-color: #fff;
}
